<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated DecompositionProcess -->
      <package
            uri="http://decompositionprocess/1.0"
            class="decompositionprocess.DecompositionprocessPackage"/>
   </extension>

</plugin>
