<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="trnetvisual.presentation.TrnetvisualModelWizardID"
            name="%_UI_TrnetvisualModelWizard_label"
            class="trnetvisual.presentation.TrnetvisualModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/TrnetvisualModelFile.gif">
         <description>%_UI_TrnetvisualModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="trnetvisual.presentation.TrnetvisualEditorID"
            name="%_UI_TrnetvisualEditor_label"
            icon="icons/full/obj16/TrnetvisualModelFile.gif"
            extensions="trnetvisual"
            class="trnetvisual.presentation.TrnetvisualEditor"
            contributorClass="trnetvisual.presentation.TrnetvisualActionBarContributor">
      </editor>
   </extension>

</plugin>
