<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.epsilon.migration.eclipse.dt.launching.MigrationLaunchConfigurationDelegate">
<intAttribute key="migratedModel" value="1"/>
<listAttribute key="models">
<listEntry value="#&#10;#Sat May 11 21:54:51 WEST 2013&#10;isMetamodelFileBased=false&#10;name=Original&#10;readOnLoad=true&#10;storeOnDisposal=false&#10;aliases=&#10;cached=true&#10;fileBasedMetamodelUri=&#10;metamodelUri=minuml1&#10;modelUri=platform\:/resource/EpsilonFlockBenchmark/original_model.xmi&#10;type=EMF&#10;modelFile=/EpsilonFlockBenchmark/original_model.xmi&#10;expand=true&#10;metamodelFile=&#10;"/>
<listEntry value="#&#10;#Sun May 12 10:54:13 WEST 2013&#10;isMetamodelFileBased=true&#10;name=Migrated&#10;readOnLoad=false&#10;storeOnDisposal=true&#10;aliases=&#10;cached=true&#10;fileBasedMetamodelUri=platform\:/resource/EpsilonFlockBenchmark/metamodels/evolved_metamodel.ecore&#10;metamodelUri=&#10;modelUri=platform\:/resource/EpsilonFlockBenchmark/evolved_model.xmi&#10;type=EMF&#10;modelFile=/EpsilonFlockBenchmark/evolved_model.xmi&#10;expand=true&#10;metamodelFile=/EpsilonFlockBenchmark/metamodels/evolved_metamodel.ecore&#10;"/>
</listAttribute>
<booleanAttribute key="org.eclipse.debug.ui.ATTR_LAUNCH_IN_BACKGROUND" value="false"/>
<intAttribute key="originalModel" value="0"/>
<stringAttribute key="source" value="/EpsilonFlockBenchmark/CoreTask.mig"/>
</launchConfiguration>
